/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
* {
font-family: 'Quicksand', sans-serif;
}

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-attachment: fixed;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  align-content: space-between;
}

.selection {
  height: 60%;
  width: 40%;
  margin-bottom: 10%;
}

.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  height: 80%;
  width: 70%;
  /* text-align: center; */
  padding: 5%;
}

.hidden {
  display: none;
}

button {
  border-radius: 5px;
  padding: 1% 5%;
  border-color: transparent;
  cursor: pointer;
  font-size: 90%;
}

button:hover {
  background-color: #78a7c6;
  color: #134d71;
}

.message-btn {
  background-color: #134d71;
  color: #fff;
  margin-bottom: 5%;
}

.error {
  font-style: italic;
  font-size: 75%;
  color: #ff0000;
  margin: 1%;
  text-align: center;
}

.clear-btn {
  background-color: #ccc;
  color: #134d71;
  text-transform: uppercase;
  margin-top: 20%;
  padding: 10% 20%;
}

form {
  display: grid;
  grid-template-columns: 5% 50% 5% 50%;
  grid-gap: 5%;
  font-style: italic;
  margin: 5% 20%;
  justify-content: space-between;
}

.bell {
  height: 70px;
  margin: auto;
}

.submit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

@media (max-width: 767px) {
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 2% 10%;
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
  .selection {
    width: 60%
  }
}
