/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
* {
font-family: 'Quicksand', sans-serif;
}

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-attachment: fixed;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
}

.selection {
  /* display: grid; */
  /* background-color: #fff; */
  height: 100px;
  width: 500px;
  margin-bottom: 10%;
}

.message {
  display: flex;
  /* background-color: #fff; */
  margin: auto;
  height: 150px;
  width: 700px;
  /* margin-top: 80px; */
  text-align: center;
  justify-content: center;
}

.hidden {
  display: none;
}

button {
  border-radius: 5px;
  padding: 2px 25px;
  border-color: transparent;
}

.message-btn {
  background-color: #134d71;
  color: #fff;
}

.error {
  font-style: italic;
  font-size: 1%;
  color: #ff0000;
  margin: 1%;
}

.clear-btn {
  background-color: #ccc;
  color: #134d71;
  text-transform: uppercase;
  margin-top: 20%;
}

form {
  /* display: grid; */
  /* grid-template-columns: 2fr 2fr; */
  /* grid-gap: 100px; */
  font-style: italic;
  padding: 20px 90px;
  margin: 5px 0px 0px;
}

img {
    height: 70px;
    margin: auto;
}
